/*Selector {
  Property: value;
}*/

* {
  text-align: right;  
}

body {
  background-image: url("https://jooinn.com/images/nature-319.jpg");
  background-size:cover;
}

h2,p {
  color: #AA4139;
  text-align: center;
  border: 5px solid rgba(255, 176, 170, 0.5);
  cursor: pointer;
}

p {
  color: pink;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 20px;
  font-weight: bold;
  font-family: "Georgia";
}

img {
  float: left;
}

p {
  color: green;
}

li {
  list-style: none;
  display: inline-block;
}

.webtext {
  border: 5px dashed green;
}

.active {
  color: red;
}

#div1 {
  background: rgba(0,0,255,0.2);
}

.boxmodel {
  border: 5px solid red;
  display: inline-block;
  padding: 20px;
  margin: 20px;
}